.mcw-modal-button {
  margin-bottom: 20px;
  margin-top: -10px;
}

.mcw-modal-component {
  .components-modal__content .components-base-control {
    margin-bottom: 1.5em;
  }

  input {
    border: 1px solid #8d96a0;
    border-radius: 5px;
  }
}