// Raw Textarea
@import '../components/raw-textarea/raw-textarea';
// Modal
@import '../components/modal/modal';


.mcw-js-css-wrapper {
  position: relative;
  display: block;
  padding: 10px 20px;
  border: 1px dashed #ddd;
  background: #fcfcfc;
  cursor: pointer;

  .mcw-js-css-selector {
    position: relative;
    display: block;
    text-align: center;
    padding: 0 40px;

    font-weight: bold;
    font-size: 1em;
    line-height: 36px;
    position: relative;
    color: #555;
  }

  .mcw-js-css-selector-icon {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;

    svg {
      min-width: 20px;
      min-height: 20px;
      max-width: 36px;
      max-height: 36px;
      display: block;
    }
  }
}

.mcw-js-css-desc {
  font-size: 0.9em;
  font-style: italic;
  margin-top: -1.5em !important;
}